<div class="layout layout--col layout--middle">
  {% render 'usage_meter', trmnl: trmnl, month_usage: current_month, title: ai_product_name %}
</div>

{% if trmnl.plugin_settings.custom_fields_values.github_show_details == "true" %}
<div class="layout layout--row layout--top layout--stretch-y pb--5 hidden lg:visible">
  {% render 'detail_table', trmnl: trmnl, month_usage: current_month %}
</div>
{% endif %}

{% if trmnl.plugin_settings.custom_fields_values.github_show_previous_month == "true" %}
<div class="layout layout--col layout--middle">
  {% render 'usage_meter', trmnl: trmnl, month_usage: previous_month, title: 'Previous Month' %}
</div>
{% endif %}

<div class="title_bar">
  <img class="image image-stroke--medium" src="data:image/svg+xml;base64,{{ logo_svg | base64_encode }}" />
  <span class="title">GitHub Copilot Usage for {{ date_string | date: '%B %Y' }}</span>
  <span class="instance">@{{ github_user.login }}</span>
</div>
