<div class="layout layout--row layout--top">
  <div class="grid grid--cols-1 gap--medium lg:gap--large">
    <div class="item">
      <div class="meta"></div>
      <div class="content">
        <div class="title title--base lg:title--large">Half Vertical</div>
        <div class="description description--base lg:description--large">Replace me with your content!</div>
      </div>
    </div>
  </div>
</div>

<div class="title_bar">
  <img class="image image-stroke--medium" src="data:image/svg+xml;base64,{{ logo_svg | base64_encode }}" />
  <span class="title">Plugin Template</span>
  <span class="instance">{{ trmnl.plugin_settings.instance_name }}</span>
</div>
