<div class="layout layout--col layout--middle">
  {% render 'usage_meter', trmnl: trmnl, month_usage: current_month, title: ai_product_name %}
</div>

{% assign table_view = trmnl.plugin_settings.custom_fields_values.github_table_view | default: 'model_usage' %}
{% if table_view == 'model_usage' %}
<div class="layout layout--row layout--top layout--stretch-y pb--5 hidden lg:visible">
  {% render 'model_usage_table', model_usage: model_usage %}
</div>
{% elsif table_view == 'billing_history' %}
<div class="layout layout--row layout--top layout--stretch-y pb--5 hidden lg:visible">
  {% render 'history_table', history: history %}
</div>
{% endif %}

{% if trmnl.plugin_settings.custom_fields_values.github_show_previous_month == "true" %}
<div class="layout layout--col layout--middle">
  {% render 'usage_meter', trmnl: trmnl, month_usage: previous_month, title: 'Previous Month' %}
</div>
{% endif %}

<div class="title_bar">
  <img class="image image-stroke--medium" src="data:image/svg+xml;base64,{{ logo_svg | base64_encode }}" />
  <span class="title">Usage for {{ date_string | date: '%B %Y' }}</span>
</div>
